@import "1-normalize.css";
@import "2-typescale.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(15, 15, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  height: 100vh;
  cursor: pointer;
}

::selection {
  background-color: aquamarine;
}

.talk {
  cursor: pointer;
  outline: none;
  background-color: darkgreen;
  border: 10px double wheat;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: all 100ms ease;
}


.talk:focus{
  background-color: brown;
  border: 3px solid wheat;
  z-index: -1;
  cursor: pointer;
}

.content {
  text-transform: uppercase;
  color: wheat;
}

